<div class="tile-inner">
	<div class="content clearfix">
	{{#if _hasText}}
		<div class="text top" {{#if _linkId}}data-link="{{_linkId}}"{{/if}}>
			{{> e-text this}}
		</div>
	{{/if}}
	{{#if _image}}
		<div class="media image">
			<div class="offset">
				<img class="media-item vertical-center horizontal-center" src="{{_image}}" 	tabindex="0" aria-label="{{_alt}}"/>
			</div>
		</div>
	{{/if}}
	{{#if _hasText}}
		<div class="text bottom" {{#if _linkId}}data-link="{{_linkId}}"{{/if}}>
			{{> e-text this}}
		</div>
	{{/if}}
	</div>
</div>