//stylistic
.tile.text {

	.text-inner {
		//padding: 18px;
	}
		
	.title {
  //   	font-size: 26px;
		// font-weight: 300;
  //   	line-height: 120%;
    	padding: 0;
    	color: @primary-color;
    	.component-title;
	}

	.body {
		// font-size: larger;
		// line-height: 120%;
		padding: 20px 0 0 0;
		color: @secondary-color;
		.body-text;
	}

	.instruction {
		// font-weight: bold;
		// line-height: 120%;
		padding: 20px 0 10px 0;
		color: @secondary-color;
		.instruction-text;
	}

	// .lightbox-link-progress {
 //        border: 2px solid white;
 //        height: 9px;
 //        .lightbox-link-progress-bar {
 //        	height: 9px;
 //            background-color: white;
 //        }
 //    }
}


//structural
.tile.text {

	.text {
		position:relative;
		z-index:1;
	}

	.title {
    	position: relative;
	}

	.body {
		position: relative;
	}

	.instruction {
		position: relative;
	}

	.background {
		position:absolute;
		top:0px;
		left:0px;
		bottom:0px;
		right:0px;
	}


	&[textrounded="true"] {

		.background {
			border-radius: 8px 8px 8px 8px;
		}

	}
}