//stylistic
.tile {

}

//structural
.tile {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	position:relative;
	line-height: 0;

	.tile-inner {
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.content {
		position: relative;
		overflow: hidden;
	}

}


