<div class="lightbox-container clearfix notify">
	<div class="lightbox-popup">
		
	    <div class="article-block-container">
	    	<div class="background-image">
				<div class="offset">
					<img src="">
				</div>
			</div>

			{{!-- the article containers and blocks live here --}}
	    </div>
	    <button class="close-button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
           <div class="notify-popup-icon-close icon icon-cross"></div>
        </button>
    </div>
</div>