<div class="authoringmode-inner">

	<div class="pane pane-left">
		<div class="pane-inner">
			<div class="toolbar">
				
			</div>
			<div class="elements">

			</div>
		</div>
	</div>

	<div class="pane pane-right">
		<div class="pane-inner">
			<div class="toolbar">

			</div>
			<div class="layout">

			</div>
		</div>
	</div>

</div>